# Python
.runtime/
backend/.venv/
backend/__pycache__/
backend/**/*.py[cod]
backend/.env
backend/.pytest_cache/

# Flutter / Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins*

# IDE
.idea/
.vscode/

*.txt